@model JSM.Web.Models.Shared.Resume.History

<div class="history-item">
    <h2>
        <span class="row">
            <span class="col col-xs-3 col-md-3">@this.Model.DateSpan</span>
            <span class="col col-xs-6 col-md-6 text-center">
                @this.Model.Organization

                @if (!this.Model.OrganizationWebsite.IsNullOrEmpty()) {
                    <a class="organization-link" href="@this.Model.OrganizationWebsite" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
                }
            </span>
            <span class="col col-xs-3 col-md-3 text-right">@this.Model.OrganizationLocation</span>
        </span>
    </h2>
    <h3>@this.Model.Role</h3>
    @{Html.RenderPartial("DisplayTemplates/Content", this.Model.Content);}
</div>