<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="author" content="Josh McCullough"/>
        <meta name="description" content="I'm a highly skilled software engineer who prides himself on completing tasks on time while maintaining high quality standards and adhering to software development best practices." />
        <meta name="keywords" content="software,development,engineering,engineer,c#,.NET,coding,coder,for hire"/>
        <title>Josh McCullough | A top-quality, full-stack software engineer.</title>
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"/>
        @Styles.Render("~/Content/Stylesheets/3rdParty")
        @Styles.Render("~/Content/Stylesheets/Site")
        @Styles.RenderFormat("<link href=\"{0}\" rel=\"stylesheet\" media=\"print\" />", "~/Content/Stylesheets/Print")
        @Scripts.Render("~/Content/Scripts/3rdParty")
        @Scripts.Render("~/Content/Scripts/Site")
        @RenderSection("Head", required: false)
</head>
    <body class="Controller-@(ViewContext.RouteData.Values["controller"]) Action-@(ViewContext.RouteData.Values["action"])">
        <header>
            <div class="row About">
                <div class="col-xs-12 col-md-3 Name">Josh McCullough</div>
                <ul class="col-xs-12 col-md-9 Roles">
                    <li>software engineer</li>
                    <li>leader</li>
                    <li>database developer</li>
                    <li>mentor</li>
                    <li>ui/ux designer</li>
                </ul>
            </div>
            <nav class="row">
                @{Html.RenderPartial("_Menu");}
            </nav>
        </header>

        <div id="Content">
            <div>
                @if (ViewBag.PageTitle != null) {
                    <h1><span>@ViewBag.PageTitle</span></h1>
                }
                
                @RenderBody()

                <div class="clearfix"></div>
            </div>
        </div>

        <footer>
            <div>
                <div class="left-menu">
                    <a href="@Url.Action("Index", "All")">view as single page</a>
                    <a href="@Url.Action("PDF", "Export")">download as PDF</a>
                    <a href="https://github.com/JoshMcCullough/jsm-web" target="_blank">view source on GitHub</a>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/Content/Scripts/3rdParty")
        @Scripts.Render("~/Content/Scripts/Site")
        @RenderSection("Scripts", required: false)
    </body>
</html>
